{% extends "base.html" %}
{% load static %}

{% block content %}
{% block header %}
{% include "partials/header/header.html" %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="modalMessage" tabindex="-1" aria-labelledby="modalMessageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_azul" id="modalMessageLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="list-group-item color_azul {{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_azul color_preto" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <h1 class="text-center color_azul">Cadastrar setor</h1>
    <form action="#" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome_setor" class="form-label color_azul">Nome do setor:</label>
            <input type="text" class="form-control color_azul" name="nome_setor" id="nome_setor" placeholder="insira seu nome do setor">
        </div>
        <div class="mb-3">
            <label for="limite_setor" class="form-label color_azul">Limite do setor:</label>
            <input type="number" class="form-control color_azul" name="limite_setor" id="limite_setor" placeholder="insira o limite do setor">
        </div>
        <div class="mb-3">
            <label for="preco_setor" class="form-label color_azul">Preço do setor</label>
            <input type="number" class="form-control color_azul" name="preco_setor" id="preco_setor" placeholder="insira o preço do setor">
        </div>
        <div class="mb-3">
            <label for="id_evento" class="form-label color_azul">Escolha um evento</label>
            <select name="id_evento" id="id_evento" class="form-select color_azul">
                <option value="" disabled selected>Escolha o evento deste setor</option>
                {% for event in events %}
                <option value="{{ event.id_evento }}">{{ event.nome_evento }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn_azul color_preto">Cadastrar</button>
            <a href="{% url 'list_sector' event.id_evento %}" class="btn btn_rosa color_preto">Cancelar cadastro</a>
        </div>
    </form>
</main>
{% endblock %}
{% block script %}
<script src="{% static "scripts/cpf_format.js" %}"></script>
{% endblock %}
{% block footer %}
{% include "partials/footer/footer.html" %}
{% endblock %}