{% extends "base.html" %}
{% load static %}

{% block content %}
{% block header %}
{% if user_role == "Vendedor" %}
{% include "partials/header/header_vendedor.html" %}
{% elif user_role == "Validador" %}
{% include "partials/header/header_validador.html" %}
{% else %}
{% include "partials/header/header.html" %}
{% endif %}
{% endblock %}

<main class="container">
    {% if messages %}
    <div class="modal fade" id="modalMessage" tabindex="-1" aria-labelledby="modalMessageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color_azul" id="modalMessageLabel">Aviso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for message in messages %}
                        <li class="list-group-item color_azul {{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_azul color_preto" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <h1 class="h1 color_azul text-center">Ingressos gerados</h1>

    <ul class="list-group">
        {% for ticket in tickets %}
        <li class="list-group-item">{{ ticket.id_ingresso }}</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
{% block footer %}
{% if user_role == "Validador" %}
{% include "partials/footer/footer_validador.html" %}
{% elif user_role == "Vendedor" %}
{% include "partials/footer/footer_vendedor.html" %}
{% else %}
{% include "partials/footer/footer.html" %}
{% endif %}
{% endblock %}