@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul: #1331A1;
    --Rosa: #F31366;
    --amarelo: #F8B62F;
    --verde: #A2CA02;
    --Cinza: #F2F2F2;
    --Preto: #0C0C0C;
}

body {
    background-color: var(--Cinza);
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.btn_eye {
    position: relative;
    right: 3.5rem;
}

.icon {
    width: 86%;
}

.container_password {
    display: flex;
    position: relative;
}

.image_header {
    width: 10%;
}

.color_azul_menu {
    color: var(--azul);
}

.color_azul_menu:hover{
    color: #0a1950;
}

.margin_menu {
    margin-left: 10rem;
}

.color_azul {
    color: var(--azul);
}

.color_preto {
    color: var(--Preto);
}

.color_rosa {
    color: var(--Rosa);
}

.btn_azul {
    background-color: transparent;
    border: 2px solid var(--azul);
    border-radius: 50px;
}

.btn_azul:hover {
    border: 2px solid var(--azul);
    box-shadow: 0 4px 4px 0 var(--azul); 
}

.btn_rosa {
    border: 2px solid var(--Rosa);
    border-radius: 50px;
    background-color: transparent;
}

.btn_rosa:hover {
    border: 2px solid var(--Rosa);
    box-shadow: 0 4px 4px 0 var(--Rosa); 
}

.btn_verde {
    border: 2px solid var(--verde);
    border-radius: 50px;
    background-color: transparent;
} 

.btn_verde:hover {
    border: 2px solid var(--verde);
    box-shadow: 0 4px 4px 0 var(--verde); 
}

.btn_amarelo {
    border: 2px solid var(--amarelo);
    border-radius: 50px;
    background-color: transparent;
}

.btn_amarelo:hover {
    border: 2px solid var(--amarelo);
    box-shadow: 0 4px 4px 0 var(--amarelo); 
}

.error {
    color: var(--Rosa);
}

.info {
    color: var(--amarelo);
}

.sucess {
    color: var(--verde);
}

.line_footer {
    border-top: 2px solid var(--azul);
}
.line_footer_vendedor {
    border-top: 2px solid var(--Rosa);
}
.line_footer_validador {
    border-top: 2px solid var(--amarelo);
}

.header_card {
    background-color: var(--Preto);
    width: 100%;
}

.image_card_event {
    max-width: 639px;
    width: 100%;
    height: 20rem;
}

.margin_menu_maior {
    margin-left: 36rem;
}

.pd {
    padding: 1rem 0;
}

.line_admin {
    border-bottom: 3px solid var(--azul);
}

.line_validador {
    border-bottom: 3px solid var(--amarelo);
}

.line_vendedor {
    border-bottom: 3px solid var(--Rosa);
}

@media (max-width: 440px) {
    .margin_menu {
        margin-left: 0;
    }
    .margin_menu_maior {
        margin-left: 0;
    }
    .flex_column {
        flex-direction: column;
    }
}