body {
    overflow: hidden;
}

.inf_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_login {
    display: flex;
    flex-direction: column;
}

.btn_eye {
    position: relative;
    right: 3.5rem;
}

.icon {
    width: 86%;
}

.container_password {
    display: flex;
    position: relative;
}

.logo_icon {
    width: 14%;
}

.image_login {
    height: 100vh;
    width: 124%;
}