body {
    overflow: hidden;
}

.inf_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_login {
    display: flex;
    flex-direction: column;
}

.logo_icon {
    width: 14%;
}

.image_login {
    height: 100vh;
    width: 124%;
}